.gridContainer {
  display: grid;
/* штука чтобы высчитывать отступы прямо из ширины */

  width: calc(100% - 80px);
  height: 100vh;
  /* выравнивание обязательно сделать чтобы отступы были с обеих сторон иначе будет только с одной */
  margin: 0 auto;
/* повторить колонку в 1 фр 14 раз */

  grid-template-columns: repeat(14,1fr);
  grid-column-gap: 12px;

}

.gridContainer figure {
  background-color: red;

  grid-column-start: 1;
  /* end нужно указывать исключительно, т.е. от 1 до 5 получится 4 колонки поэтому энд указываем на 1 больше */
  grid-column-end: 6;
}
